<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more">
            <img src="./assets/icon/more.svg" alt="more" class="icon top-bar__more-icon">
        </button>
        <!-- Logo -->
        <div class="logo">
            <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img">
            <h1 class="logo__title">
                grocerymart
            </h1>
        </div>
        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="" class="navbar__link">
                        Departments
                        <img src="./assets/icon/arrow-down.svg" alt="arrow" class="icon navbar__arrow">
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 1 ipsum, dolor sit amet consectetur adipisicing elit. Qui cumque sapiente quia at
                            eligendi dignissimos amet mollitia, tempora aspernatur numquam vel reprehenderit voluptate
                            delectus adipisci architecto laboriosam sequi voluptas illum rem. Eum eveniet exercitationem
                            at laboriosam nemo repudiandae quam similique natus eius corporis dolorem molestiae sunt
                            voluptas nesciunt esse eaque tempora, aliquid quod libero, tenetur rerum quo, quisquam
                            dolores. Neque ducimus repudiandae nulla exercitationem non reiciendis doloribus distinctio
                            excepturi nemo. Ea veniam suscipit earum nihil quibusdam! Sapiente delectus minima nam
                            facere pariatur vero autem quas. Id cupiditate molestias unde pariatur aperiam temporibus
                            magnam? Autem voluptatem iure dolorum eligendi reiciendis assumenda aut. Nam eligendi
                            architecto dolore, sapiente veniam delectus necessitatibus quis consequuntur! Vel, facere
                            corporis quaerat voluptas nostrum quo dolor sequi veritatis quod assumenda tempora quidem
                            molestias molestiae ipsum accusamus aspernatur incidunt nam perferendis cumque amet esse
                            optio deleniti? Quis id harum consectetur debitis obcaecati doloribus unde quo magni neque
                            optio voluptates omnis aperiam, eos delectus. Modi possimus officiis deserunt tempore
                            aliquam corrupti quod? Consectetur non, repellat veniam obcaecati eos, nemo saepe corporis
                            nesciunt est fugit reiciendis rem perspiciatis vitae, in ipsam! Perspiciatis illo
                            dignissimos libero consequatur, nam architecto ipsam! Architecto ea fugiat aliquam veritatis
                            est facere voluptatibus, quisquam unde quas.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">
                        Grocery
                        <img src="./assets/icon/arrow-down.svg" alt="arrow" class="icon navbar__arrow">
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 2 ipsum, dolor sit amet consectetur adipisicing elit. Qui cumque sapiente quia at
                            eligendi dignissimos amet mollitia, tempora aspernatur numquam vel reprehenderit voluptate
                            delectus adipisci architecto laboriosam sequi voluptas illum rem. Eum eveniet exercitationem
                            at laboriosam nemo repudiandae quam similique natus eius corporis dolorem molestiae sunt
                            voluptas nesciunt esse eaque tempora, aliquid quod libero, tenetur rerum quo, quisquam
                            dolores. Neque ducimus repudiandae nulla exercitationem non reiciendis doloribus distinctio
                            excepturi nemo. Ea veniam suscipit earum nihil quibusdam! Sapiente delectus minima nam
                            facere pariatur vero autem quas. Id cupiditate molestias unde pariatur aperiam temporibus
                            magnam? Autem voluptatem iure dolorum eligendi reiciendis assumenda aut. Nam eligendi
                            architecto dolore, sapiente veniam delectus necessitatibus quis consequuntur! Vel, facere
                            corporis quaerat voluptas nostrum quo dolor sequi veritatis quod assumenda tempora quidem
                            molestias molestiae ipsum accusamus aspernatur incidunt nam perferendis cumque amet esse
                            optio deleniti? Quis id harum consectetur debitis obcaecati doloribus unde quo magni neque
                            optio voluptates omnis aperiam, eos delectus. Modi possimus officiis deserunt tempore
                            aliquam corrupti quod? Consectetur non, repellat veniam obcaecati eos, nemo saepe corporis
                            nesciunt est fugit reiciendis rem perspiciatis vitae, in ipsam! Perspiciatis illo
                            dignissimos libero consequatur, nam architecto ipsam! Architecto ea fugiat aliquam veritatis
                            est facere voluptatibus, quisquam unde quas.
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">
                        Beauty
                        <img src="./assets/icon/arrow-down.svg" alt="arrow" class="icon navbar__arrow">
                    </a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem 3 ipsum, dolor sit amet consectetur adipisicing elit. Qui cumque sapiente quia at
                            eligendi dignissimos amet mollitia, tempora aspernatur numquam vel reprehenderit voluptate
                            delectus adipisci architecto laboriosam sequi voluptas illum rem. Eum eveniet exercitationem
                            at laboriosam nemo repudiandae quam similique natus eius corporis dolorem molestiae sunt
                            voluptas nesciunt esse eaque tempora, aliquid quod libero, tenetur rerum quo, quisquam
                            dolores. Neque ducimus repudiandae nulla exercitationem non reiciendis doloribus distinctio
                            excepturi nemo. Ea veniam suscipit earum nihil quibusdam! Sapiente delectus minima nam
                            facere pariatur vero autem quas. Id cupiditate molestias unde pariatur aperiam temporibus
                            magnam? Autem voluptatem iure dolorum eligendi reiciendis assumenda aut. Nam eligendi
                            architecto dolore, sapiente veniam delectus necessitatibus quis consequuntur! Vel, facere
                            corporis quaerat voluptas nostrum quo dolor sequi veritatis quod assumenda tempora quidem
                            molestias molestiae ipsum accusamus aspernatur incidunt nam perferendis cumque amet esse
                            optio deleniti? Quis id harum consectetur debitis obcaecati doloribus unde quo magni neque
                            optio voluptates omnis aperiam, eos delectus. Modi possimus officiis deserunt tempore
                            aliquam corrupti quod? Consectetur non, repellat veniam obcaecati eos, nemo saepe corporis
                            nesciunt est fugit reiciendis rem perspiciatis vitae, in ipsam! Perspiciatis illo
                            dignissimos libero consequatur, nam architecto ipsam! Architecto ea fugiat aliquam veritatis
                            est facere voluptatibus, quisquam unde quas.
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- Action -->
        <div class="top-act">
            <button class="top-act__btn top-act__btn-single">
                <img src="./assets/icon/search.svg" alt="Search" class="icon top-act__icon">
            </button>
            <div class="top-act__ground">
                <button class="top-act__btn">
                    <img src="./assets/icon/heart.svg" alt="heart" class="icon top-act__icon">
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__seperate"></div>
                <button class="top-act__btn">
                    <img src="./assets/icon/buy.svg" alt="buy" class="icon top-act__icon">
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="top-act__user">
                <img src="./assets/img/avatar.jpg" alt="avatar" class="top-act__avatar">
            </div>
        </div>
    </div>
</div>